In [2]:
import tweepy  # 트위터 API 라이브러리
import pandas as pd
from datetime import datetime, timedelta
import os
from dotenv import load_dotenv

In [3]:
# .env 파일에서 API 키와 토큰 로드
load_dotenv()

API_KEY = os.getenv("API_KEY")
API_SECRET_KEY = os.getenv("API_SECRET_KEY")
ACCESS_TOKEN = os.getenv("ACCESS_TOKEN")
ACCESS_TOKEN_SECRET = os.getenv("ACCESS_TOKEN_SECRET")
BEARER_TOKEN = os.getenv("BEARER_TOKEN")

In [5]:
# Tweepy 클라이언트 초기화
client = tweepy.Client(
    bearer_token=BEARER_TOKEN,
    consumer_key=API_KEY,
    consumer_secret=API_SECRET_KEY,
    access_token=ACCESS_TOKEN,
    access_token_secret=ACCESS_TOKEN_SECRET,
)

In [16]:
# 검색 조건
query = '부동산 OR 전세 OR 매수타이밍 OR 집값 OR 아파트폭락 lang:ko'
start_time = "2025-01-17T00:00:00Z"  # UTC 시간
end_time = "2025-01-18T00:00:00Z"    # UTC 시간
max_results = 100  # 최대 100개

In [17]:
# 트윗 수집
tweets_data = []
try:
    response = client.search_recent_tweets(
        query=query,
        start_time=start_time,
        end_time=end_time,
        max_results=min(max_results, 100),  # 무료 API는 요청당 최대 100개
        tweet_fields=["created_at", "text", "author_id", "public_metrics"],
    )
    
    if response.data:
        for tweet in response.data:
            tweets_data.append({
                "created_at": tweet.created_at,
                "author_id": tweet.author_id,
                "text": tweet.text,
                "retweet_count": tweet.public_metrics.get("retweet_count"),
                "like_count": tweet.public_metrics.get("like_count"),
            })
except Exception as e:
    print("Error fetching tweets:", e)

Error fetching tweets: 429 Too Many Requests
Too Many Requests

In [12]:
df = pd.DataFrame(tweets_data)

In [18]:
df.head()

,created_at,author_id,text,retweet_count,like_count
0,2025-01-17 23:59:37+00:00,1778601550170173441,4DX관 전세 낸거 같은 기분...어떻게 나밖에 없지....,0,3
1,2025-01-17 23:57:30+00:00,1349042763329794050,RT @2ZE4qbd0XPaCLmu: @starnewskorea #임영웅 #Limy...,19,0
2,2025-01-17 23:57:23+00:00,849562617807069185,"RT @anoldrumor: 20대에 변호사가 되고, 작전주로 10억을 벌었으며, ...",78,0
3,2025-01-17 23:55:11+00:00,703353224259104768,"RT @anoldrumor: 20대에 변호사가 되고, 작전주로 10억을 벌었으며, ...",78,0
4,2025-01-17 23:53:53+00:00,1873313793385914368,기부\n김영득\n바테잎가는여자\n대학교\n마주친\n파주부동산\n팬티클럽\n나는할수없...,0,0

In [9]:
df

,created_at,author_id,text,retweet_count,like_count
0,2025-01-17 23:59:37+00:00,1778601550170173441,4DX관 전세 낸거 같은 기분...어떻게 나밖에 없지....,0,3
1,2025-01-17 23:57:30+00:00,1349042763329794050,RT @2ZE4qbd0XPaCLmu: @starnewskorea #임영웅 #Limy...,19,0
2,2025-01-17 23:57:23+00:00,849562617807069185,"RT @anoldrumor: 20대에 변호사가 되고, 작전주로 10억을 벌었으며, ...",78,0
3,2025-01-17 23:55:11+00:00,703353224259104768,"RT @anoldrumor: 20대에 변호사가 되고, 작전주로 10억을 벌었으며, ...",78,0
4,2025-01-17 23:53:53+00:00,1873313793385914368,기부\n김영득\n바테잎가는여자\n대학교\n마주친\n파주부동산\n팬티클럽\n나는할수없...,0,0
...,...,...,...,...,...
93,2025-01-17 22:26:08+00:00,999409505967341569,"재명이, \n성남 국제마피아파의 변호사하다, \n조직원으로 들어간 장면으로 보입니다...",17,17
94,2025-01-17 22:25:47+00:00,2330258287,RT @immerblaumachen: 원룸 전세사기 어쩔거야,13926,0
95,2025-01-17 22:25:38+00:00,2947810260,RT @camping_bushman: 우리나라 뿐만 아님 이탈리아\n베니스도 똑같이...,31,0
96,2025-01-17 22:23:32+00:00,1391683312008110082,RT @Cryto_Dev_JH: 주유소 자산을 기초자산으로 설정하고 있는 코람코에너...,3,0
97,2025-01-17 22:20:26+00:00,1197015449570906112,"RT @anoldrumor: 20대에 변호사가 되고, 작전주로 10억을 벌었으며, ...",78,0

In [10]:
# 데이터 저장
if tweets_data:
    df = pd.DataFrame(tweets_data)
    file_name = "tweets_real_estate.csv"
    df.to_csv(file_name, index=False, encoding="utf-8-sig")
    print(f"Tweets saved to {file_name}")
else:
    print("No tweets found.")

Tweets saved to tweets_real_estate.csv